#popMenu {
    width: 72px;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    border: thin solid black;
    border-radius: 6px;
    background-color: rgba(173, 216, 230, 0.95);
    font-weight: bold;
    overflow: hidden;
    display: block;
    align-content: center;
    margin: 0;
    transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

#popMenu ul {
    list-style-type: none;
    align-content: center;
    margin: 2px auto;
    padding: 0;
}

#popMenu ul li {
    overflow: hidden;
    height: 20px;
}

#popMenu li {
    margin: 4px;
    text-align: left;
    font-size: 14pt;
    display: inline;
}

#popMenu li:hover {
    cursor: pointer;
    color: mintcream;
}
